@media(min-width:320px){
    body{
        height: 100vh;
        /* padding-top: 80px; */
    }
    .container{
        max-width: 1400px;
        width: 98%;
        margin: 0 auto;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }
    .fa-bars{
        display: block;
        position: relative;
        cursor: pointer;
    }
    .header nav{
        display: none;
    }
    .navbar ul{
        top:100%;
        right: 100%;
        width: 250px;
        background-color:white;
        padding: 20px;
        position: absolute;
    }
    .navbar ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: right;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap:10px
    }
    .navbar a{
        color: seagreen;
        text-shadow: 1px 1px black;
        font-size: 12px;
        font-weight:100;
        
    }
    /* ........................home............................ */
    .home{
        padding-top: 80px;
        height: 100vh;
        background-color: seagreen;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 20px;
        color: white;
        text-align: center;
    }
    .top{
        width: 250px;
    }
    .top img{
        width: 100%;
    }
    h1{
      font-size: 35px;  
      font-weight: bold;
    }
    .bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 60%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 0 10px;
    }
    .bottom p{
        font-size: 20px;
    }
    .justify{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .justify button{
        background-color: lightseagreen;
        width: 180px;
        height: 50px;
        border: none;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        border-radius: 25px;
        color: white;
        font-size: 17px;
    }
    .justify a{
        color: white;
    }
    .justify div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 5px;
    }
    .fa-circle-play{
        font-size: 27px;
        color: lightseagreen;
    }
    /* .......................logos.............................. */
    .logos{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 20px 0;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 15px ;
    }
    .logos div{
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .logos img{
        width: 70px;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
    }
    .logos img:hover{
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    /* ...............................aboutus..................................... */
    .aboutus{
        padding-top: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 35px;
        font-size: 20px;
    }
    .aboutus h2{
        text-transform: uppercase;
        font-size: 40px;
        color: seagreen;
        font-weight: bold;
        text-align: center;
    }
    .abtop{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;        
        row-gap: 20px;
    }
    .fa-check-double{
        color: seagreen;
        margin-right: 5px;
    }
    .apbottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        row-gap: 20px;    }
    
    .apbottom button{
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border: 2px solid lightseagreen;
        color: lightseagreen;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
    }
    .apbottom button:hover{
        color: white;
        background-color: lightseagreen;
        border-color: lightseagreen;
    }
    .abus{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        row-gap: 20px; 
    }
    .apbottom{
        padding-bottom: 20px;
    }
    /* ............................aboutus2........................ */
    .aboutus2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .ab2bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        row-gap: 20px;
    }
    .ab2bottom h3{
        font-size: 35px;
        color: seagreen;
    }
    .ab2p{
        color: gray;
    }
    .ab2bottom p{
        line-height: 120%;
        font-size: 19px;
    }
    .ab2div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }
    .arrow{
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        font-size: 23px;
        
    }
    .ab2bottom .justify{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-weight: bold;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        background-color:lightblue;
        padding: 10px;
        
        
    }
    .ab2bottom .justify:hover{
        color: lightseagreen;
    }
    .ab2bottom .justify span{
        color: lightseagreen;
        margin-right: 8px;
    }
    /* ................................about3.................. */
    .aboutus3{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 20px;
        padding-top: 80px;
    }
    
    .bottom3{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
    }
    .upright h3{
        font-size: 35px;
        color: seagreen;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .upright p{
        color: gray;
        font-style: italic;
        line-height: 120%;
    }
    .bottomright{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
        padding-bottom: 40px;
    }
    .bottomright .justify{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: seagreen;
        font-weight: bold;
    }
    
     .line{
        height: 10px;
    }
    .html .line{
        background-color: seagreen;
    }
    .css .line{
        background: -webkit-gradient(
            linear,
            left top, right top,
            from(seagreen),
            color-stop(90%, seagreen),
            color-stop(90%, white),
            to(white)
        );
        background: -o-linear-gradient(
            left,
            seagreen 0%,
            seagreen 90%,
            white 90%,
            white 100%
        );
        background: linear-gradient(
            to right,
            seagreen 0%,
            seagreen 90%,
            white 90%,
            white 100%
        );
    }
    .javascript .line{
        background: -webkit-gradient(
            linear,
            left top, right top,
            from(seagreen),
            color-stop(75%, seagreen),
            color-stop(75%, white),
            to(white)
        );
        background: -o-linear-gradient(
            left,
            seagreen 0%,
            seagreen 75%,
            white 75%,
            white 100%
        );
        background: linear-gradient(
            to right,
            seagreen 0%,
            seagreen 75%,
            white 75%,
            white 100%
        );
    }
    .photoshop .line{
        background: -webkit-gradient(
            linear,
            left top, right top,
            from(seagreen),
            color-stop(55%, seagreen),
            color-stop(55%, white),
            to(white)
        );
        background: -o-linear-gradient(
            left,
            seagreen 0%,
            seagreen 55%,
            white 55%,
            white 100%
        );
        background: linear-gradient(
            to right,
            seagreen 0%,
            seagreen 55%,
            white 55%,
            white 100%
        );
    }
     /* ....................................services................... */
     .ss1{
        padding-top: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 30px;
        text-align: center;
    }
    .servicestop{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 30px;
        width: 95%;
    }
    .servicestop h3{
        font-size: 40px;
        color: seagreen;
        font-weight: bold;
    }
    .ss1-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        row-gap: 30px;
    }
    .ss1-wrapper div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: left;
        gap: 15px;
        background-color: seagreen;
        color: white;
        width: 80%;
        padding: 20px 10px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .ss1-wrapper div:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    .ss1-wrapper div i{
        font-size: 30px;
    }
    .ss1-wrapper div h5{
        font-size: 30px;
    }
    /* ...................................action....................... */
    .action{
        margin-top: 50px;
        background-color: seagreen;
        padding: 40px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        row-gap: 30px;
        color: white;
    }
    .action h3{
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bold;
    }
    .action p{
        line-height: 120%;
        font-size: 19px;
    }
    .action button{
        background-color: seagreen;
        width: 180px;
        height: 50px;
        border: 2px solid white;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        border-radius: 25px;
        color: white;
        font-size: 17px;
    }
    .action button:hover{
        background-color: lightseagreen;
        border-color: lightseagreen;
    }
    /* ....................................portfolio..................... */
    #portfolio{
        padding-top: 80px;
        text-align: center;
    }

    #portfolio h2, #team h2, .pricing h2, .asked h2, #contact h2{
        font-size: 40px;
        font-weight: bold;
        color: seagreen;
        text-align: center;
    }
    .portfoliotext p, .teamp{
        font-size: 19px;
        line-height: 120%;
        margin: 20px auto;
    }
    #portfolio button{
        border: none;
        font-weight: bold;
        -webkit-transition: all 0.7s ;
        -o-transition: all 0.7s ;
        transition: all 0.7s ;
    }
    .filters{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 30px;
        margin-bottom: 30px;
        gap: 5px;
    }
    #portfolio button:hover{
        border-radius: 25px;
        padding: 10px;
        background-color: lightseagreen;
        color: white;
    }
    .imgwrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 20px;
    }
    .portfolioimg{
        width: 400px;
        max-width: 80%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
  
    .absolute{
        position: absolute;
        height: 70px;
        width: 100%;
        background-color: seagreen;
        opacity: 0.8;
        bottom: 0;
        
    }
    .portfolioimg img{
        width: 100%;
        
    }
    .absolute{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
    }
    .fa-magnifying-glass{
        margin-right: 10px;
    }
    .move{
        
        background-color: green;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        display: none;
    }
  
    .move div{
        background-color: red;
        width: 50px;
        height: 50px;
    }
    /* ......................................team..................................... */
    .teamwrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        row-gap: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .boxes i{
        border-radius: 50%;
        color: seagreen;
        background-color: white;
        padding: 3px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .boxes i:hover{
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    .boxes{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: lightblue;
        padding: 20px 30px;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        width: 90%;
    }
    .boxes:hover{
        -webkit-transform:translateY(-10px);
            -ms-transform:translateY(-10px);
                transform:translateY(-10px)
    }
    .boxes img{
        width: 100px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .boxes h5{
        font-size: 20px;
        font-weight: bold;
        color: seagreen;
    }
    .teamleft{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 10px;
        text-align: left;
        color: white;
    }
    .teamleft span{
        border-bottom: 2px solid seagreen;
        padding-bottom: 5px;
        
    }
    #team{
        padding-top: 80px;
        text-align: center;
    }
    .teamp{
        line-height: 120%;
        font-size: 19px;
        margin: 0;
        margin: 20px 0;
    }
    /* ....................................pricing.................................... */
    .pricing{
        padding-top: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
    }
    .pricewrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
    }
    .pricebox{
        padding: 20px 30px;
        width: 85%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border: 3px double seagreen;
    }
    .pricebox h4{
        font-size: 40px;
    }
    .pricebox i{
        color: darkgreen;
    }
    .not{
        opacity: 0.6;
        text-decoration: line-through;
    }
    .not i{
        color: darkred;
    }
    .pricebox span{
        font-weight: bold;
        color: lightseagreen;
    }
    .pricebox li i{
        margin-right: 10px;
    }
    .pricebox h3{
        font-size: 20px;
        color: seagreen;
        font-weight: bold;
    }
    .pricebox h4{
        margin: 15px 0;
    }
    .pricebox ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 15px;
        padding-top: 15px;
        margin-bottom: 20px;
    }
    .pricebox button{
        border: none;
        border: 2px solid lightseagreen;
        color: lightseagreen;
        font-weight: bold;
        width: 150px;
        border-radius: 25px;
        padding: 10px 5px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .pricebox button:hover{
        color: white;
        background-color: lightseagreen;
    }
    /* ..............................asked 320.................................... */
    .asked{
        padding-top: 80px;
    }
    .askedaccordeon{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
        
        margin: 0 auto;
    }
    .questions{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 10px;
    }
    .question{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px;
        background-color: lightblue;
        gap: 30px;
        cursor: pointer;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
    }
    .question:hover{
        color: darkred;
    }
    .question i{
        color: darkred;
        border: 2px solid darkred;
        padding: 2px 3px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .askedarrow{
        color: darkred;
        font-size: 25px;
        font-weight: bold;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    .asked h4{
        font-size: 20px;
        font-weight: bold;
    }
    /* .............................contact 320................................ */
    #contact .container{
        padding-top: 80px;
    }
    .contactwrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 30px;
    }
    .contacttop, .contacbottom{
        border-top: 3px solid;
        border-bottom: 3px solid;
        border-color: seagreen;
        padding: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 15px;
        width: 100%;
    }
    .contacbottom{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .contacttop h4{
        color: seagreen;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 10px;
    }
   .map{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 250px;
    width: 80%;
   }
   .mapish{
    width: 100%;
   }

    .contacttop i{
        margin-right: 10px;
    }
    .contacttop a{
        margin-left: 35px;
        color: black;
    }
    .teamp{
        text-align: center;
    }
    .forms{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 7px;
    }
    .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
    }
    label{
        color: seagreen;
        font-size: 20px;
        font-weight: bold;
    }
    input{
        border: 2px solid black;
        height: 40px;
    }
    textarea{
        border: 2px solid black;
        height: 140px;
    }
    input:focus, textarea:focus{
        outline-color: seagreen;
    }
   
    form{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
    }
    form button{
        border: none;
        border: 2px solid lightseagreen;
        color: lightseagreen;
        font-weight: bold;
        width: 150px;
        border-radius: 25px;
        padding: 10px 5px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    form button:hover{
        color: white;
        background-color: lightseagreen;
    }
    /* .............................footer............................ */
    .footer{
     padding-top: 80px;
    }
    .ftr{
        width: 100%;
        background-color: seagreen;
        color: white;
        font-size: 18px;
        font-weight: bold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 10px;
        text-align: center;
        height: 80px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
}
@media(min-width:700px){
    
    /*  */
    .navbar ul{
        width: 600px;
    }
    .top{
        width: 400px;
    }
    h1{
        font-size: 40px;
    }
    .bottom p{
        font-size: 20px;
    }
    /* .justify button{
        font-size: 25px;
        padding: 15px 20px;
    } */
    .justify i{
        font-size: 35px;
    }
    .justify a{
        font-size: 30px;
    }
    /* logos */
    .logos div{
        width: 25%;
        
    }
    .logos img{
        width: 90px;
    }
    /* .............................aboutus................... */
    .aboutus{
        height: 100vh;
        padding-top: 80px;
    }
 
    .abus{
        height: 70vh;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    /* ..........................services................. */
    .ss1-wrapper{
        gap: 50px;
    }
    .ss1-wrapper div{
        width: 40%;
        padding: 15px 30px;
        
    }
    /* ......................................portfolio700..................................................... */
    .portfolioimg{
        max-width: 45%;
    }
    /* ..............................pricing................................700 */
    .pricebox{
       width: 51%;
    }
    /* ....................................asked........................700.............. */
    .askedaccordeon{
        width: 80%;
    }
    /* contact 1000/.............................. */
    iframe{
        width: 600px;
        height: 300px;
    }
    .row{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .name, .email{
        width: 47%;
    }
    /* .............footer.......... */
       .ftr{
          
           display: -webkit-box;
          
           display: -ms-flexbox;
          
           display: flex;
           -webkit-box-orient: horizontal;
           -webkit-box-direction: normal;
               -ms-flex-direction: row;
                   flex-direction: row;
           -webkit-box-pack: justify;
               -ms-flex-pack: justify;
                   justify-content: space-between;
           padding: 20px;
       }
}
@media(min-width:1000px){
    .header nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .fa-bars{
        display: none;
        
    }
    .home{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .top{
        width: 500px;
    }
    .homemain{
        height: 100vh;
    }
    .bottom{
        gap: 30px;
        -webkit-box-align: first baseline;
            -ms-flex-align: first baseline;
                align-items: first baseline;
        text-align: left;
    }
    /* .justify button{
        font-size: 25px;
        border-radius: 25px;
        padding: 10px 15px;
    } */
    
    .logos div{
        width: 15%;
    }
    /* ............................aboutus........................ */
    .aboutus h2{
        font-size: 55px;
    }
    
    .abus{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .abtop{
        width: 50%;
    }
    .apbottom{
        width: 50%;
    }
    /* ....................aboutus2.............. */
    .aboutus2{
        height: 100vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 30px;
    }
    .ab2bottom{
        width: 50%;
    }
    /* ..........................aboutus3...................... */
    .aboutus3{
        height: 100vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 50px;
    }
    .ss1{
        height: 100vh;
    }
    /* .......................action........... */
    .action{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 60px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 60px 30px;
    }
    .action .actiontext{
        width: 60%;
        text-align: left;
    }
    /* ......................portfolio1000.............. */
    .portfoliotext{
        width: 80%;
        margin: 0 auto;
    }
    /* .................team1000........................ */
    .teamwrapper{
       gap: 20px;
    }
    .boxes{
        width: 45%;
    }
    .boxes img{
        width: 150px;
    }
    .teamp{
        width: 85%;
        margin: 20px auto;
        text-align: center
    }
   /* ..............................pricing................................1000 */
   .pricebox{
    width: 25%;
 }
 /* ............................................contact........................... */
 .contactwrapper{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }
 iframe{
    width: 350px;
    height: 200px;
}
}
.hidden{
    display: none;
}
.deg{
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}